<!-- ======= About Section ======= -->
<section id="about" class="about contact">

	<!-- ======= About Me ======= -->
	<div class="about-me container">

		<div class="section-title">
			<h2>About</h2>
			<p>Learn more about me</p>
		</div>

		<div class="row">
			<div class="col-lg-4" data-aos="fade-right">
				<img src="/assets/img/me.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
				<h3>Filmmaker/Visualstoryteller</h3>
				<p>
					Ranjan Rimal is an artist/filmmaker from Nepal, currently based in Coventry, United Kingdom.
					He is pursuing MA Film and Media Production at Coventry University. As a filmmaking student
					he is exploring new dimensions of storytelling and the power of art to connect individuals across
					cultures. His visual expression is a raw articulation of subjective truths, authentic stories and
					represent humanity.
				</p>
				<p>
					His specialization encompasses a diverse range of creative expressions, including
					nonfiction/creative
					documentary, music videos/AR VR experimentation, projection mapping,
					exploratory practice & storytelling. He finds the universal language of art quite powerful and
					committed to pushing the boundaries of his craft, exploring new techniques and styles, and telling
					stories that impact, inspire and educate.
				</p>
				<p>
					With a strong background in music video production and documentary film, Ranjan has
					collaborated with esteemed Nepali Hip-hop artists like Dong, Vyoma, Viber Saimon, and
					numerous underground talents. Additionally, he produced a documentary which support the
					movement of “Gandharva” community in Jhapa, Nepal. He says, “I have had the privilege of
					working with a diverse range of artists, clients and projects, from documentaries to music videos,
					short films and commercial work.” He strongly believes that creative process thrives in
					collaboration and collaboration experiences with artists and communities have allowed him to
					create authentic and powerful narratives.
				</p>
				<p>
					As you explore Ranjan's portfolio, you will journey through the world as seen through his lens.
					Thank you for visiting the website, and hope you find inspiration and insight in the stories he has
					to share.
				</p>
			</div>
		</div>

		<div class="row mt-4">

			<div class="col-md-6 d-flex align-items-stretch">
				<div class="info-box">
					<i class="bx bx-map"></i>
					<h3>Address</h3>
					<p><a href="https://goo.gl/maps/oftqk6BDXz6nWxge8" target="_blank">3 Britannia Street, Coventry
							CV2 4FS</a>
					</p>
				</div>
			</div>

			<div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
				<div class="info-box">
					<i class="bx bx-share-alt"></i>
					<h3>Social Profiles</h3>
					<div class="social-links">
						<a href="https://www.youtube.com/@ranjanrimal1683" class="youtube"><i
								class="bi bi-youtube"></i></a>
						<a href="https://www.facebook.com/ranjan.rimal" class="facebook"><i
								class="bi bi-facebook"></i></a>
						<a href="https://www.instagram.com/rj_rimal" class="instagram"><i
								class="bi bi-instagram"></i></a>
						<a href="https://www.linkedin.com/in/ranjan-rimal-559351163" class="linkedin"><i
								class="bi bi-linkedin"></i></a>
						<a href="https://www.tiktok.com/@rj_rimal" class="tiktok"><i class="bi bi-tiktok"></i></a>
					</div>
				</div>
			</div>

			<div class="col-md-6 mt-4 d-flex align-items-stretch">
				<div class="info-box">
					<i class="bx bx-envelope"></i>
					<h3>Email</h3>
					<p><a href="mailto:ranjan.rimal5@gmail.com">ranjan.rimal5@gmail.com</a></p>
				</div>
			</div>
			<div class="col-md-6 mt-4 d-flex align-items-stretch">
				<div class="info-box">
					<i class="bx bx-phone-call"></i>
					<h3>Contact</h3>
					<p><a href="mailto:ranjan.rimal5@gmail.com">ranjan.rimal5@gmail.com</a></p>
				</div>
			</div>
		</div>

	</div><!-- End About Me -->

</section><!-- End About Section -->