<!-- ======= About Section ======= -->
<section id="bts" class="about contact">

	<!-- ======= About Me ======= -->
	<div class="about-me container">

		<div class="section-title">
			<h2>BTS</h2>
		</div>

		<div class="row">
			<div class="col-lg-4" data-aos="fade-right">
				<video width="100%" height="auto" autoplay loop muted>
                    <source src="/assets/BTS-Bobby-Tripp-Thotiana.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
			</div>
			<div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <div class="row">
                    {% for image in [1,2,3] %}
                    <div class="col-md-2 mb-3 px-0">
                        <img src="/assets/img/bobby/bobby ({{ image }}).jpg" alt="" class="img-fluid">
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for image in [4,5,6] %}
                    <div class="col-md-2 mb-3 px-0">
                        <img src="/assets/img/bobby/bobby ({{ image }}).jpg" alt="" class="img-fluid">
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for image in [7,8,9] %}
                    <div class="col-md-2 mb-3 px-0">
                        <img src="/assets/img/bobby/bobby ({{ image }}).jpg" alt="" class="img-fluid">
                    </div>
                    {% endfor %}
                </div>
				<h3>BOBBY TRIPP - THOTIANA ( OFFICIAL MUSIC VIDEO )</h3>
				<p>
					Artist: Bobby Tripp <br>
                    Directed By: Ravi Tamang <br>
                    DOP/Colorist: Raju Lama Moktan <br>
                    Cinematographer: Ranjan Rimal<br>
                    BTS/Photographer: Sasank Raj<br>
                    Editor/Vfx: Raju Lama Moktan / Ravi Tamang <br>
				</p>
			</div>
		</div>

	</div><!-- End About Me -->
	<!-- ======= About Me ======= -->
	<div class="about-me container mt-4">

		<div class="section-title">
			<h2>BTS</h2>
		</div>

		<div class="row">
			<div class="col-lg-4" data-aos="fade-right">
				<video width="100%" height="auto" autoplay loop muted>
                    <source src="/assets/Bishesh-BTS.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
			</div>
			<div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
				<h3>BISHESH - MISS GARCHU | OFFICIAL MUSIC VIDEO | BEATS BY @TRAPSIDERECORDS</h3>
				<p>
					Ranjan Rimal is an artist/filmmaker from Nepal, currently based in Coventry, United Kingdom.
					He is pursuing MA Film and Media Production at Coventry University. As a filmmaking student
					he is exploring new dimensions of storytelling and the power of art to connect individuals across
					cultures. His visual expression is a raw articulation of subjective truths, authentic stories and
					represent humanity.
				</p>
			</div>
		</div>

	</div><!-- End About Me -->

</section><!-- End About Section -->