<!-- ======= events Section ======= -->
<section id="commercials">
    <div class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Commercials</h2>
                <p>Denmark Clothing Brand 'TeeShoppen'</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe src="https://drive.google.com/file/d/1nfGnwFzC-cTo2ZZdQBreVaeDkrAaWU6b/preview" 
                        width="100%" height="450" allow="autoplay"></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <iframe
                            src="https://drive.google.com/embeddedfolderview?id=1i_HMJII4KA70ANH_07tMN-Dif8-yMwRj#grid"
                            style="width:100%; height:450px; border:0;"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Commercials</h2>
                <p>Faster and Efficient Check Fraud Investigations with ScanWriter</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/6bxkICqcSx8?si=3SnOv3Or5IIMSsJi" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Faster and Efficient Check Fraud Investigations with ScanWriter
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Commercials</h2>
                <p>Cinematic Real Estate 4k | XF 8-16mm Fujifilm</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/Zmip602OW9U?si=Ze1EZjFSrRJyNRJ9" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Cinematic Real Estate 4k | XF 8-16mm Fujifilm
                            <br>
                            Shot on Fujifilm X-T3 with XF 8-16mm Fujinon lens
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End events Section -->