<!-- ======= documentry Section ======= -->
<section id="documentry">
    <div class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Documentary</h2>
                <p>Minstrel Quest for Museum</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/xDI1AVZtr9g?si=OUCsjJwkr6X05Uph" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Kundali of
                            Indie minstrel
                        </p>
                        <p>

                            Namaste! <br>

                            We Saugat Upreti( le. la), Nepal-based Artist and Curator at project Naadhe and Ranjan Rimal
                            (Filmmaker)
                            have embarked on a journey of a musical documentary film of the Gandharva village located in
                            Kechana,
                            Jhapa, Indian Border. <br><br>

                            The story of the musical community's quest to build a tiny museum - to establish their
                            pastoral cultural
                            essence and advocate cultural dignity. The battalion of minstrels on a relentless journey
                            from village
                            to
                            village/ public administration to political authorities to build a museum. <br><br>

                            We intend to film the entire journey through different landscapes and travel with them to
                            complete this
                            documentary film and find the answers of their motivation, inspiration, and intention.
                            <br><br>

                            Please go through the following link to support us: <br><br>

                            https://gofund.me/2400d45d
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Documentary</h2>
                <p>Dharti Devi - Official Trailer</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/qPD3JL6nmG0?si=luJgV7jBMnDSFbHu" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            This is the official trailer for the short film 'Dharti Devi'. This film is presented by
                            Isha Volunteers
                            from Nepal and the film's primary aim is to support the #SaveSoil movement. Let's make it
                            happen 🙏
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End documentry Section -->