<!-- ======= events Section ======= -->
<section id="events">
    <div class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Events &amp; Wedding</h2>
                <p>2nd Rup Karki Memorial Nationwide Powerlifting Championship 2079</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/ZA_LKm-NgMs?si=AQKamK3zL7ep2iE7" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            It was a pleasure working with Nepal Powerlifting Association for the 2nd Rup Karki Memorial
                            Nationwide Powerlifting Championship 2079 B.S.
                            <br><br>
                            Cinematography: Ram Mandal, Ranjan Rimal
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Events &amp; Wedding</h2>
                <p>Sanad & Nischala Wedding Cinematic Video</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/K8kNvmyqIsQ?si=rDAm-YToDkNuEHhb" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Sanad & Nischala Wedding Cinematic Video
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Events &amp; Wedding</h2>
                <p>Sumad & Surakshya Cinematic Video 4k | Wedding | Mehendi | Reception</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/QR16eAoGNcI?si=4zSMM_bD5hKzOAYM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Sumad & Surakshya Cinematic Video 4k | Wedding | Mehendi | Reception
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End events Section -->