<!-- ======= Music Video Section ======= -->
<section id="music-video">
    <div class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Music Video</h2>
                <p>"HORA" - VYOMA Ft @MaheshDong X Birendra Keshari | Official Music Video | GYAN GATI</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/-29sOr4yIoc"
                        title="&quot;HORA&quot; - VYOMA Ft @MaheshDong X Birendra Keshari | Official Music Video | GYAN GATI"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Official Music Video of the First Song From Album "GYAN GATI" | 2022 <br>
                            This collab of Vyoma & Dong was initiated by our beloved Rollerx & Birendra Keshari
                            (MadhesiBeats). We
                            are very happy to have this project completed. Rest in paradise our brother Rollerx.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Music Video</h2>
                <p>Bishesh - Miss Garchu | Official Music Video | Beats By @TrapSideRecords</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/AQFRHNEFUSw?si=SEfoc4XUSOzYDH0t" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            BISHESH - MISS GARCHU
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Music Video</h2>
                <p>BISHESH- YO MERO THAU (OFFICIAL MUSIC VIDEO)</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/Q6MwVGxFZjU?si=ISTT9JroOl1G-eRk" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            BISHESH- YO MERO THAU
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Music Video</h2>
                <p>BOBBY TRIPP - THOTIANA ( Official Music Video )</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/kG2XhNxsxtA?si=HBk5H6k5O-npTIVS" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Bobby Tripp's debut official music video for THOTIANA is Out Now! SLATT💚
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Music Video</h2>
                <p>Viber Saimon - Sangharsa Garr ( Prod : Vino Ramaldo ) nepali hiphop</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/vE4Y2t_1t5E?si=EZUr_XmkGMAEzmqW" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Viber Saimon - Sangharsa Garr ( Prod : Vino Ramaldo ) nepali hiphop<br>
                            Cinematographer: Azure Blue and Ranjan Rimal
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Music Video</h2>
                <p>“FUNDA” - SHABDAJAAL x Birendra Keshari(@MadhesiBeats ) | Official Music Video | 2023</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/2CY0TcqFnN8?si=Nb6HSo-np5zHtMRy" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Funda is a 2nd Track From the Album "The Shabdajaal Show".<br>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="resume mt-4">
        <div class="container">

            <div class="section-title">
                <h2>Music Video</h2>
                <p>Arjun Karki - Jagideu Timi || Save Soil Song || Conscious Planet</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/Zr8LodpP-uI?si=id2DQ8g68u909t7v" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="resume-item pb-0">
                        <p>
                            Realization that was so steep visited me too. The realization was so deep that the things
                            that I thought, from where I was standing, impossible, suddenly started to seem possible to
                            me. This came with the capabilities to respond to everything and anything. Learning about
                            the declining condition of our soil gave me a notion that some big power should come to
                            play. I felt only the chosen ones who are politically sound needs to take actions. For one
                            instance i felt it was their responsibilities. This completely numbed me and at the same
                            time, I felt nothing can be done on my part as of now. <br><br>
                            DOP/Editor/Colorist : Ranjan Rimal 
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Music Video Section -->